@model IEnumerable<PersonalVideoGameLibrary.Models.VideoGameDto>

@{
    ViewBag.Title = "Create";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/common_styles.css")
</head>

<h2>Create A Session Message</h2>

<a class="shared-btn" href="/Session/List">Go back to list</a>

<form action="/Session/Create" method="POST">
    <div>
        <label class="labelStyle">Session Message:</label> <input type="text" name="SessionMsg" />
    </div>
    <br />
    <div>
        <label class="labelStyle">Video Game:</label>
        <select name="VideoGameID">
            @foreach (var videogame in Model)
            {
                <option value="@videogame.VideoGameID">@videogame.VideoGameName</option>
            }
        </select>
    </div>
    <br />
    <div>
        <input class="shared-btn" type="submit" value="Add Session Message" />
    </div>
</form>

