@model PersonalVideoGameLibrary.Models.ConsoleDto 

@{
    ViewBag.Title = "DeleteConfirm";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/common_styles.css")
</head>

<h2>Are you sure you wish to delete this Console</h2>

<a class="shared-btn" href="/Console/List">Cancel</a>
<h3>Console Name: @Model.ConsoleName</h3>
<form action="/Console/Delete/@Model.ConsoleID" method="POST">
    <input class="shared-btn" style="color:red" type="submit" value="Confirm Delete" />
</form>

