@model PersonalVideoGameLibrary.Models.ViewModels.DetailsConsole 

@{
    ViewBag.Title = "Details";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/common_styles.css")
</head>

<h2>Console Information</h2>
<h3>@Model.SelectedConsole.ConsoleName Options</h3>

<nav>
    <ul class="options">
        <li><a class="shared-btn" href="/Console/List">Go back to the list</a></li>
        <li><a class="shared-btn" href="/Console/Edit/@Model.SelectedConsole.ConsoleID">Update Console Information</a></li>
        <li><a class="shared-btn" style="color:#ab2020" href="/Console/DeleteConfirm/@Model.SelectedConsole.ConsoleID">Delete</a></li>
    </ul>
</nav>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <h4>Assigned Video Games To Console</h4>
        <br />
        @foreach (var videogame in Model.AssignVideoGames)
        {
            <a class="btn btn-default" href="/VideoGame/Details/@videogame.VideoGameID">@videogame.VideoGameName</a><br /><br />
        }
    </div>
</div>

