@model PersonalVideoGameLibrary.Models.ViewModels.DetailsConsole 

@{
    ViewBag.Title = "Details";
}

<h2>Console Information</h2>
<h3>@Model.SelectedConsole.ConsoleName</h3>

<nav>
    <ul>
        <li><a class="btn btn-default" href="/Console/List">Go back to the list</a></li>
        <li><a class="btn btn-default" href="/Console/Edit/@Model.SelectedConsole.ConsoleID">Update Console Information</a></li>
        <li><a class="btn btn-default" style="color:#ab2020" href="/Console/DeleteConfirm/@Model.SelectedConsole.ConsoleID">Delete</a></li>
    </ul>
</nav>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <h4>Assign Video games to Console</h4>
        @foreach (var videogame in Model.AssignVideoGames)
        {
            <a class="btn btn-default" href="/VideoGame/Details/@videogame.VideoGameID">@videogame.VideoGameName</a><br />
        }
    </div>
</div>

