
@{
    ViewBag.Title = "Create";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/common_styles.css")
</head>

<h2>Create Console</h2>

<form action="/Console/Create" method="POST">
    <div>
        <label class="labelStyle">Console Name:</label> <input type="text" name="ConsoleName" />
    </div>
    <div>
        <input class="shared-btn" type="submit" value="Create" />
    </div>
</form>
