
@{
    ViewBag.Title = "Create";
}

<h2>Create Console</h2>
<form action="/Console/Create" method="POST">
    <div>
        <label>Console Name:</label> <input type="text" name="ConsoleName" />
    </div>
    <div>
        <input class="btn btn-default" type="submit" value="Create" />
    </div>
</form>
