@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Estevans Passion Project</h1>
    <p class="lead">
        This project allows users to keep track on video games they are currently playing!
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Console</h2>
        <p>
            What platform is the video game on?
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Get Started!", "New", "Console")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Video Game</h2>
        <p>What is the game that is being added to the system?</p>
        <p><a class="btn btn-default" @Html.ActionLink("Check Out Your List", "List", "VideoGame")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sessions</h2>
        <p>Comments you wish to leave for that particular video game!</p>
        <p><a class="btn btn-default" @Html.ActionLink("Leave Your Comments Here!", "List", "Session")</a></p>
    </div>
</div>