@model PersonalVideoGameLibrary.Models.VideoGameDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this videogame?</h2>
<nav>
    <ul>
        <li><a href="/VideoGame/List">Cancel</a></li>
        <li><a href="/VideoGame/Edit/@Model.VideoGameID">Update Instead</a></li>
        <!--Error is thrown when clicking on the update button-->
    </ul>
</nav>
<h3>@Model.VideoGameName</h3>
<form action="/VideoGame/Delete/@Model.VideoGameID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>

