@model IEnumerable<PersonalVideoGameLibrary.Models.SessionDto>
<!--May not need this check bach later-->
@{
    ViewBag.Title = "Create";
}

<h2>Create Videogame</h2>

<a class="btn btn-default" href="/VideoGame/List">Go back to list</a>

<form action="/VideoGame/Create" method="POST">
    <div>
        <label>Videogame Name:</label> <input type="text" name="VideoGameName" />
    </div>
    <div>
        <label>Videogame Price</label> <input type="number" step=".01" name="VideoGamePrice" />
    </div>
    <div>
        <label>Videogame Hour</label> <input type="number" name="VideoGameHours" />
    </div>
    <div>
        <label>Add a Session Message</label>
        <input type="text" name="SessionMsg" />
    </div>
    <div>
        <input type="submit" value="Add Videogame"/>
    </div>
</form>
